<div>
  <div *ngIf="currentCategory.id" class="edit-form">
    <h4>category</h4>
    <form>
      <div class="form-group">
        <label for="category_name">category_name</label>
        <input
          type="text"
          class="form-control"
          id="category_name"
          required
          [(ngModel)]="currentCategory.category_name"
          name="category_name"
        />
      </div>

      <div class="form-group">
        <label for="target_sales">target_sales</label>
        <input
          type="number"
          class="form-control"
          id="target_sales"
          required
          [(ngModel)]="currentCategory.target_sales"
          name="target_sales"
        />
      </div>
      <div class="form-group">
        <label for="current_sales">current_sales</label>
        <input
        type="number"
          class="form-control"
          id="current_sales"
          required
          [(ngModel)]="currentCategory.current_sales"
          name="current_sales"
        />
      </div>
      <div class="form-group">
        <label for="percentage">percentage</label>
        <input
        type="number"
          class="form-control"
          id="percentage"
          required
          [(ngModel)]="currentCategory.percentage"
          name="percentage"
        />
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteCategory()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updatecategory()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentCategory.id">
    <br />
    <p>Cannot access this category...</p>
  </div>
</div>
