<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form>
      <div class="form-group">
        <label for="category_name">category_name</label>
        <input type="text"class="form-control" required name="category_name">
      </div>

      <div class="form-group">
        <label for="target_sales">target_sales</label>
        <input type="number"class="form-control" requiredname="target_sales">
      </div>
      <div class="form-group">
        <label for="current_sales">current_sales</label>
        <input type="number"class="form-control" required name="current_sales">
      </div>
      <div class="form-group">
        <label for="percentage">percentage</label>
        <input type="number" class="form-control"required name="percentage">
      </div>
    </form>
      <button (click)="savecategory()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>category was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newcategory()">Add</button>
    </div>
  </div>
</div>
